body{
    background-image: url(../img/avion.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
  }

.navbar {
    background-color: #18d26e;
    
  }

  a{
    color: #fff;
  }

  #header {
    background: rgba(12, 11, 9, 0.6);
    border-bottom: 1px solid rgba(12, 11, 9, 0.6);
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    top: 40px;
  }
  
  #header.header-scrolled {
    top: 0;
    background: rgba(0, 0, 0, 0.85);
    border-bottom: 1px solid #37332a;
  }
  
  #header .logo {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
  }
  
  #header .logo a {
    color: #fff;
  }
  
  #header .logo img {
    max-height: 40px;
  }

.card{
    background-color: rgba(255, 0, 0, 0);
    border: 0px solid;
}

.card-header{
    background-color: rgba(255, 0, 0, 0);
    border: 0px solid;
    margin-top: 8rem;
}

.form-group{
    font-size: 20px;
    color: #ffff;
    font-weight: 900;
}