body{
    background-image: url(../img/avion.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
  }

.navbar {
    background-color: #18d26e;
    
  }

  a{
    color: #fff;
  }



.card{
    background-color: rgba(255, 0, 0, 0);
    border: 0px solid;
}

.card-header{
    background-color: rgba(255, 0, 0, 0);
    border: 0px solid;
    margin-top: 8rem;
}

.form-group{
    font-size: 20px;
    color: #ffff;
    font-weight: 900;
}